# LIST
    - ordered sequence of elements
    - mutable (add,remove,change) after creation
    - indexed(positive and negative)
    - can be heterogenous aand homogeneous
    - nesting can be done
    - represented by square brackets[]
    - list( constructor to create a list)

In [1]:
names = ["alice",'bob', 'krish', 'charlie','komal']
prime_num = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
mix_list = [1,'alice', 2, 'bob', 3, 'charlie', 4, 'komal']
nest_list = [[1, 2, 3] , [4, 5, 6] , [7, 8, 9]]

In [3]:
print(len(names))
print(len(prime_num))
print(len(mix_list))
print(len(nest_list))

5
10
8
3

In [4]:
for i in names:
    print(i)

alice
bob
krish
charlie
komal

indexing

In [6]:
print('first element',prime_num[4])
print('third element',prime_num[3])
print('last element',prime_num[-1])

first element 11
third element 7
last element 29

updating an index

In [8]:
names[0] = 'john'
print(names)

['john', 'bob', 'krish', 'charlie', 'komal']

In [16]:
print(prime_num[:5])
print(prime_num[2:])
print(prime_num[:-1])
print(prime_num[0:-1:3])
print(prime_num[-7:-1:2])

[2, 3, 5, 7, 11]
[5, 7, 11, 13, 17, 19, 23, 29]
[2, 3, 5, 7, 11, 13, 17, 19, 23]
[2, 7, 17]
[7, 13, 19]

adding,removing

In [12]:
a = []
a.append(100)
a.append(10)
a.append(1)
print(a)

[100, 10, 1]

In [13]:
a.append(10)
print(a)

[100, 10, 1, 10]

In [9]:
a.remove(60)
a.remove(60)
print(a)

[1, 60]

In [14]:
a.insert(1,20)
print(a)

[100, 20, 10, 1, 10]

In [16]:
a.insert(-1,50)
a.insert(2,1000)
print(a)

[100, 20, 1000, 1000, 10, 1, 50, 50, 10]

In [17]:
a.pop(-1)   #remove value at index -1

10

In [18]:
print(a)

[100, 20, 1000, 1000, 10, 1, 50, 50]

In [19]:
a.pop() #remove value at last index(default)
print(a)

[100, 20, 1000, 1000, 10, 1, 50]

In [20]:
a.clear()
print(a)

[]

concatenation '+' vs merging'extend()'

In [22]:
a = [1, 2, 3]
b = [3, 4, 5]
print('a',a)
print('b',b)
c = a + b
print('c',c)
a.extend(b)
print('a',a)
print('b', b)

a [1, 2, 3]
b [3, 4, 5]
c [1, 2, 3, 3, 4, 5]
a [1, 2, 3, 3, 4, 5]
b [3, 4, 5]

In [26]:
a = []
for i in range(2,101,2):
    a.append(i)
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [27]:
y = list(range(2,101,2))
print(y)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [29]:
a.reverse()
print(a)

[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [30]:
a.sort()
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [32]:
x = [12, 343, 56, 23, 45, 36,343, 78]
print(x.count(12))
print(x.count(123))
print(x.count(343))

1
0
2

searing in list

In [34]:
#just checking if a value exists in list
print(12 in x)

#finding the first occurence of a value in list

print(x.index(12))
print(x.index(343))

True
0
1