String
-  create
- indexing and access
- slicing
- most useful methods

In [2]:
a = 'komal' # single quotes
b = "krishna"   # double quotes
c = '''i am a girl'''   # multiline/triple quotes

- sting is immutable
- string is iterable
- It is indexed
- It is sliced

In [6]:
print(a[3])
print(b[2])
print(c[-3])

a
i
i

In [12]:
# slicing

name = "vijay deenanath chauhan"
print(name[0:5])
print(name[6:15])
print(name[-7:23])
print(name[:5]) # start to 5 index
print(name[-7:])    # -7 index to end
print(name[:])  # start to end
print(name[:15:2])  # start to 15 index with step 2
print(name[::2])  # start to end with step 2
print(name[::-1])  # reverse the string

vijay
deenanath
chauhan
vijay
chauhan
vijay deenanath chauhan
vjydeaah
vjydeaahcahn
nahuahc htananeed yajiv

In [13]:
name[:][::-1][:5]

'nahua'

In [17]:
# concatenation

fname = 'komal'
lname = 'gupta'
fname + ' ' + lname

'komal gupta'

In [16]:
'ü§©' * 10 # repetition

'ü§©ü§©ü§©ü§©ü§©ü§©ü§©ü§©ü§©ü§©'

In [15]:
for i in range(1,11):
    print('*' * i)

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
for i in range(5):
    print("i ")

string methods

In [18]:
a.capitalize()

'Komal'

find and replace

In [23]:
# find is for pattern searching not for word searching
sentence = 'I am a queen of lucknow'
print(sentence.find('queen'))
print(sentence.find('king'))    # -1 if not found
print(sentence.find('m'))


print(sentence.replace('queen', 'king'))
print(sentence.replace('lucknow', 'allahabad'))
sentence2 = sentence.replace('queen', 'king').replace('lucknow', 'allahabad')

7
-1
3
I am a king of lucknow
I am a queen of allahabad

In [24]:
sentence.replace('e', 'f')

'I am a quffn of lucknow'

split and join

In [25]:
sentence.split()

['I', 'am', 'a', 'queen', 'of', 'lucknow']

In [27]:
poem = '''twinkle, twinkle, little star
how i wonder what you are
up above the world so high
like a diamond in the sky'''

print(poem.splitlines())    # better than split('\n')
print(poem.split())
print(poem.split(","))

['twinkle, twinkle, little star', 'how i wonder what you are', 'up above the world so high', 'like a diamond in the sky']
['twinkle,', 'twinkle,', 'little', 'star', 'how', 'i', 'wonder', 'what', 'you', 'are', 'up', 'above', 'the', 'world', 'so', 'high', 'like', 'a', 'diamond', 'in', 'the', 'sky']
['twinkle', ' twinkle', ' little star\nhow i wonder what you are\nup above the world so high\nlike a diamond in the sky']

In [30]:
path = ['C:', 'home', 'user', 'documents', 'file.txt']
print(" ".join(path))
print("/".join(path))
print(",".join(path))
print("".join(path))
print("üßê".join(path))

C: home user documents file.txt
C:/home/user/documents/file.txt
C:,home,user,documents,file.txt
C:homeuserdocumentsfile.txt
C:üßêhomeüßêuserüßêdocumentsüßêfile.txt

count,startswith and endswith

In [2]:
story = "once upon a time. There was a king in a forest who's name is LionüòÜ."
story.count('a')

5

In [7]:
import os

content = os.listdir('C:/Users/LENOVO/Downloads')
print(content)

['(Part-2) ‡§§‡•Ä‡§® ‡§¶‡§æ‡§Æ‡§æ‡§¶ ‡§î‡§∞ ‡§∏‡§æ‡§∏ _ Hindi Kahani _ Moral Stories _ Story in Hindi _ Kahani _ Comedy Funny(720P_HD) (1).mp4', '(Part-2) ‡§§‡•Ä‡§® ‡§¶‡§æ‡§Æ‡§æ‡§¶ ‡§î‡§∞ ‡§∏‡§æ‡§∏ _ Hindi Kahani _ Moral Stories _ Story in Hindi _ Kahani _ Comedy Funny(720P_HD).mp4', 'CARTOON.mp4', 'CARTOON.png', 'ChromeSetup.exe', 'desktop.ini', 'drive-download-20231205T150337Z-002.zip', 'filmora-idco_setup_full1901 (1).exe', 'filmora-idco_setup_full1901 (2).exe', 'filmora-idco_setup_full1901 (3).exe', 'filmora-idco_setup_full1901 (4).exe', 'filmora-idco_setup_full1901.exe', 'Git-2.43.0-64-bit.exe', 'GLP_installer_900223150_market (1).exe', 'GLP_installer_900223150_market.exe', 'Miniconda3-latest-Windows-x86_64.exe', 'mix_4m50s (audio-joiner.com).mp3', 'mix_5m43s (audio-joiner.com).mp3', 'Pictures - Shortcut.lnk', 'r0fiv17w.exe', 'Unconfirmed 387069.crdownload', 'Upload Process.mp4', 'VSCodeUserSetup-x64-1.85.1 (1).exe', 'VSCodeUserSetup-x64-1.85.1 (2).exe', 'VSCodeUserSetup-x64-1.85.1.exe']

In [14]:
for item in content:
    if item.endswith('.mp3'):
        print(item)

mix_4m50s (audio-joiner.com).mp3
mix_5m43s (audio-joiner.com).mp3

In [18]:
for item in content:
    if item.startswith('C'):
        print(item)

CARTOON.mp4
CARTOON.png
ChromeSetup.exe

In [1]:
s = 'digipodium'
s1 = s[4:len(s)]
s2 = s[4:]
print(s1,s2,sep = ',')

podium,podium

In [2]:
x = 'Excellent'
print(x[:5])
print(x[2:6])
print(x[-4:])

Excel
cell
lent

In [5]:
# char() = convert integer to string

x = chr(65)
print(x)
x = chr(72)
print(x)
x = chr(12365)
print(x)

A
H
„Åç

In [7]:
# ord() = convert a char to integer

y = ord('A')
print(y)
y = ord('a')
print(y)
y = ord('Z')
print(y)

65
97
90

In [8]:
# len() = returns length of string
list = [23,45,65,34]
print(len('amazing'))
print(len('world'))
print(len(list))

7
5
4

In [11]:
# str() = converts items to string

x = 24
y = str(x)
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

STRING PATTERNS

In [20]:
# RIGHT ALIGNMENT IN PATTERN

#string function for right alignment of text and 15 is the area that it will create.

for i in range(1,6):
    print(('L ' * i).rjust(10))

        L
      L L
    L L L
  L L L L
L L L L L

In [26]:
# CENTER ALIGNED TRIANGLE

# string function for center alignment of the text and 30 is the area that it will create.

for i in range(1,15,2):
    print(('* ' * i).center(30))

              *
            * * *
          * * * * *
        * * * * * * *
      * * * * * * * * *
    * * * * * * * * * * *
  * * * * * * * * * * * * *

In [55]:
# patern of * and 0

for i in range(1,15,2):
    print(('*' * i ).center(35))
#for i in range(3,12,4):
    print(('0' * i).center(35))

                 *
                 0
                ***
                000
               *****
               00000
              *******
              0000000
             *********
             000000000
            ***********
            00000000000
           *************
           0000000000000