String
-  create
- indexing and access
- slicing
- most useful methods

In [2]:
a = 'komal' # single quotes
b = "krishna"   # double quotes
c = '''i am a girl'''   # multiline/triple quotes

- sting is immutable
- string is iterable
- It is indexed
- It is sliced

In [6]:
print(a[3])
print(b[2])
print(c[-3])

a
i
i

In [12]:
# slicing

name = "vijay deenanath chauhan"
print(name[0:5])
print(name[6:15])
print(name[-7:23])
print(name[:5]) # start to 5 index
print(name[-7:])    # -7 index to end
print(name[:])  # start to end
print(name[:15:2])  # start to 15 index with step 2
print(name[::2])  # start to end with step 2
print(name[::-1])  # reverse the string

vijay
deenanath
chauhan
vijay
chauhan
vijay deenanath chauhan
vjydeaah
vjydeaahcahn
nahuahc htananeed yajiv

In [13]:
name[:][::-1][:5]

'nahua'

In [17]:
# concatenation

fname = 'komal'
lname = 'gupta'
fname + ' ' + lname

'komal gupta'

In [16]:
'ü§©' * 10 # repetition

'ü§©ü§©ü§©ü§©ü§©ü§©ü§©ü§©ü§©ü§©'

In [15]:
for i in range(1,11):
    print('*' * i)

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
for i in range(5):
    print("i ")

string methods

In [18]:
a.capitalize()

'Komal'

find and replace

In [23]:
# find is for pattern searching not for word searching
sentence = 'I am a queen of lucknow'
print(sentence.find('queen'))
print(sentence.find('king'))    # -1 if not found
print(sentence.find('m'))


print(sentence.replace('queen', 'king'))
print(sentence.replace('lucknow', 'allahabad'))
sentence2 = sentence.replace('queen', 'king').replace('lucknow', 'allahabad')

7
-1
3
I am a king of lucknow
I am a queen of allahabad

In [24]:
sentence.replace('e', 'f')

'I am a quffn of lucknow'

split and join

In [25]:
sentence.split()

['I', 'am', 'a', 'queen', 'of', 'lucknow']

In [27]:
poem = '''twinkle, twinkle, little star
how i wonder what you are
up above the world so high
like a diamond in the sky'''

print(poem.splitlines())    # better than split('\n')
print(poem.split())
print(poem.split(","))

['twinkle, twinkle, little star', 'how i wonder what you are', 'up above the world so high', 'like a diamond in the sky']
['twinkle,', 'twinkle,', 'little', 'star', 'how', 'i', 'wonder', 'what', 'you', 'are', 'up', 'above', 'the', 'world', 'so', 'high', 'like', 'a', 'diamond', 'in', 'the', 'sky']
['twinkle', ' twinkle', ' little star\nhow i wonder what you are\nup above the world so high\nlike a diamond in the sky']

In [30]:
path = ['C:', 'home', 'user', 'documents', 'file.txt']
print(" ".join(path))
print("/".join(path))
print(",".join(path))
print("".join(path))
print("üßê".join(path))

C: home user documents file.txt
C:/home/user/documents/file.txt
C:,home,user,documents,file.txt
C:homeuserdocumentsfile.txt
C:üßêhomeüßêuserüßêdocumentsüßêfile.txt