In [ ]:
x = 1,2,3,4
print(x)

In [ ]:
type(x)

In [ ]:
data = (1, 2, 3, 'apple')
print(data)

In [ ]:
data.count(2)

In [ ]:
data.index('apple')

In [ ]:
x = [1, 2, 3]
xt = tuple(x)   # convert to tuple
print(x, xt)
x1 = list(xt)   #tuple to list
print(x,xt,x1)
xs = set(x1)    #list to set
print(xs)

In [ ]:
# nested turple
tur = ('mouse', [1, 2, 3], {2, 5, 6})
print(tur)
print(type(tur))
# nested index
print(tur[1][2])

SET AND ITS OPERATIONS, ADDING, REMOVING

In [ ]:
sets = {1, 2, 3, 5, 6, 7, 8}
print(sets)

In [ ]:
# emoty set
a = set()
print(type(a))
b = {}
print(type(b))

ADDING OR UPDATING SET

In [ ]:
a.add(24)
print(a)

In [ ]:
a.update([2,3, 24])
print(a)

a.update([2,6,7], {8, 90, 10})
print(a)

REMOVING OR DELETING AN ELEMENT FROM SET

In [ ]:
# discard or remove an element

a.remove(2)
print(a)
a.remove(3)
print(a)

In [ ]:
# pop a random item

a.pop()
print(a)

# clear set

a.clear()
print(a)

In [42]:
a = {1, 2, 3, 4, 5, 10}
b = {4, 5, 6, 7, 8 ,9}
print(a,b)

{1, 2, 3, 4, 5, 10} {4, 5, 6, 7, 8, 9}

In [43]:
print(a|b)
b.union(a)      # both are same performing union operations

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [44]:
# both are performing intersection

print(a & b)

b.intersection(a)

{4, 5}

{4, 5}

In [45]:
# difference

print(a - b)
print(b -a)
a.difference(b)

{10, 1, 2, 3}
{8, 9, 6, 7}

{1, 2, 3, 10}

In [46]:
# symettric difference

print(a ^ b)

a.symmetric_difference(b)

{1, 2, 3, 6, 7, 8, 9, 10}

{1, 2, 3, 6, 7, 8, 9, 10}

In [48]:
p = {'t.v', 'mobile', 'laptop', 'mixer', 'computer','freeze'}
q = {'grinder', 't.v', 'iron', 'washing machine', 'speaker'}

print(p | q)
print(p & q)
print(p - q)
print(p ^ q)

{'laptop', 'mobile', 'speaker', 'grinder', 'mixer', 't.v', 'freeze', 'washing machine', 'computer', 'iron'}
{'t.v'}
{'laptop', 'mobile', 'mixer', 'freeze', 'computer'}
{'laptop', 'mobile', 'grinder', 'washing machine', 'freeze', 'iron', 'speaker', 'mixer', 'computer'}